.header {
    position: fixed;
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.header .left-part img {
    width: 8rem;
}

.header .right-part ul li {
    list-style: none;
    font-size: 1.6rem;
}

.header .right-part ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



